<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
 integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
 crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-inverse">

      <div class="container">

        <!-- Nav bar brand -->
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'home' %}">JASHUVA INSTITUTE</a>
        </div>

        <!-- Navbar Left Side -->
          <ul class="nav navbar-nav">

            <li><a href="{% url 'java' %}">Java Exams</a></li>
            <li><a href="{% url 'python' %}">Python Exams</a></li>
            <li><a href="{% url 'aptitude' %}">Aptitude Exams</a></li>

          </ul>

          <!-- navbar right side -->
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'signup' %}">SignUp</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>

      </div>

    </nav>

    <!-- block -->

    {% block content %}

    {% endblock %}
  </body>
</html>
