<!DOCTYPE html>
{% extends 'testapp/base.html' %}

{% block content %}
                <div class="jumbotron">

                  <div class="container align-center">

                    <h1>Welcome To Jashuva Institute</h1>

                    <h2>Rules</h2>

                    <ul>
                      <li>Rule-1 : You should write only one xam perday</li>
                      <li>Rule-1 : You should write only one xam perday</li>
                      <li>Rule-1 : You should write only one xam perday</li>
                      <li>Rule-1 : You should write only one xam perday</li>
                      <li>Rule-1 : You should write only one xam perday</li>
                    </ul>

                  </div>




                </div>


{% endblock %}
